/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: .5rem;
    font-size: .75rem;
}
/* #endregion common */

/* #region utilities */
.container{
    width: 80%;
    margin: auto;
    border: 1px dashed;
}

section{
    padding: 1rem;
    height: 250px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.bg-orange{
    background-color: lightsalmon;
}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: fuchsia;
}

.p-1rem{
    padding: .25rem;
}

/* #endregion utilities */

/* #region header */
nav a{
    text-decoration: none;
    padding: .25rem;
}
/* #endregion header */

/* #region main */
.section1-item{
    width: 60%;
    height: 100%;
}

/* #endregion main */